.rootBackground{
    fill: rgb(210, 210, 210);
}

.chartBackground{
    fill: rgb(120, 120, 210);
}

.graph{
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 3;
}

.graphHighlight{
    stroke: rgb(255, 255, 255);
}
