text{
	stroke: none;
}

path{
	stroke: none;
}

.brush .extent{
	stroke: rgb(255, 255, 255);
	fill: rgb(0, 0, 0);
	fill-opacity: 0.15;
	shape-rendering: crispEdges;
}

.rootBackground{
	fill: rgb(210, 210, 210);
	stroke: rgb(0, 0, 0);
	stroke-width: 4px;
}

.chartBackground{
	fill: rgb(160, 160, 210);
	stroke: rgb(0, 0, 0);
	stroke-width: 2px;
}

.brushBackground{
	fill: rgb(160, 160, 210);
	stroke: rgb(0, 0, 0);
	stroke-width: 2px;
}


/*
 * graphs
 */
.graph{
	fill: none;
	stroke-width: 2;
}

.graphWirkungsgrad{
	stroke: rgb(255, 0, 0);
}

.graphSpannung{
	stroke: rgb(0, 255, 0);
}

.graphErtrag{
	stroke: rgb(0, 0, 255);
}

.graphLeistung{
	stroke: rgb(128, 70, 27);
}

.graphHighlight{
	stroke: rgb(0, 0, 0);
}


/*
 * axes
 */
.axis{
	shape-rendering: crispEdges;
}

.xAxis{
	fill: rgb(0, 0, 0);
	stroke: rgb(0, 0, 0);
}


/*
 * grid
 */
.xGrid{
	fill: rgb(0, 0, 0);
	stroke: rgb(0, 0, 0);
	opacity: 0.3;
}

.yGrid{
	opacity: 0.8;
	shape-rendering: crispEdges;
}
